body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
/* Common Classes */
.bottomBorder{
    border-bottom: dotted black 2pt;
}

.isSelected{
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
}

.tag{
    font-size:15px;
    margin-right:20px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgb(108, 108, 108);
    color:white;
    display: inline-block;
    border: 1pt solid black;
}

.timeInfo{
    color: grey;
}

/* Commonalities */
#allQuestion, #answerPage, #newAnswerPage, #newQuestionPage, #tagsPage, #searchResultPage{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height:84.5vh;
}

/* ids */
#root{
    height:100%;
}

#welcome, #register{
    padding: 0 20px;
}

#welcome button,form input[type="submit"], #register button{
    font-size:25px;
    align-items: center;
    background-clip: padding-box;
    background-color: rgb(0, 146, 250);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
}

#welcome form, #register form{
    width:40vw;
}

#welcome form label, #register form label{
    font-size:20px;
}

#welcome form input[type="text"], #welcome form input[type="password"], #register form input{
    width:80%;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size:20px;
    padding: 10px 5px;
}

#register #errorMessage{
    color:red;
    font-weight: bold;
    font-size:20px;
}

#navigate{
    height:15vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#navigate-hi{
    font-size:30px;
}

#navigate button{
    font-size:25px;
    padding: 5px 15px;
    align-items: center;
    background-clip: padding-box;
    background-color: rgb(0, 146, 250);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
}

#navigate input{
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    height: 30px;
    width:500px;
}

#homePage{
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 11vh 89vh;
    grid-template-areas:
        "banner banner"
        "menu allQuestion";
}

#banner{
    grid-area: banner;
    background-color: rgb(211, 211, 211);
    border:0.3vh solid black;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    ". middleText ."
    ". middleText searchInput"
    ". middleText .";
}

#banner-text{
    grid-area: middleText;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:35px;
    font-weight: bold;
}

#banner-input{
    grid-area: searchInput; 
    width:80%;
    font-size: 20px;
    border-width: 2pt;
}

#menu{
    grid-area: menu;
    border-right: dotted 2pt black;
    display:grid;
    grid-template-rows: repeat(15, 1fr);
}

#menu-questions{
    grid-row-start: 2;
    grid-row-end: 3;
    display:flex;
    justify-content: center;
    align-items: center;
    color:blue;
    font-size: 20px;
    cursor: pointer;
}

#menu-tags{
    grid-row-start: 4;
    grid-row-end: 5;
    display:flex;
    justify-content: center;
    align-items: center;
    color:blue;
    font-size: 20px;
    cursor: pointer;
}

#allQuestion{
    display:flex;
    flex-direction: column;
    height:84.5vh;
}

#allQuestionHeader{
    min-height:30vh;
    grid-row-start: 1;
    grid-row-end: 2;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-areas:
    "headerSection . . askQuestion"
    "totalQuestion . filter .";
}

#allQuestionHeaderSection{
    grid-area: headerSection;
    font-size:30px;
    font-weight: bold;
    padding-left: 40px;
    display:flex;
    align-items: center;
}

#askQuestion{
    grid-area: askQuestion;
    display:flex;
    align-items: center;
    justify-self: center;
}

#askQuestionButton{
    font-size:18px;
    height:40px;
    border: solid black 1.5pt;
    background-color: rgba(0, 149, 255, 0.973);
    color:white;
    cursor: pointer;
}

#totalQuestion{
    grid-area: totalQuestion;
    font-size:20px;
    padding-left: 40px;
    padding-top:20px;
}

#filterQuestion{
    grid-area:filter;
    padding-top:20px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    max-height:30px;
}

#filterQuestion-newest{
    padding: 5px 10px;
    border: solid 1pt black;
}

#filterQuestion-active{
    padding: 5px 10px;
    border: solid 1pt black;
}

#filterQuestion-unanswered{
    padding: 5px 10px;
    border: solid 1pt black;
}

#questions{
    grid-row-start: 2;
    grid-row-end: 3;
}

.question{
    display:grid;
    grid-template-columns: 1fr 4fr 3fr;
    padding: 20px 20px 20px 0;
    cursor: pointer;
    min-height:10vh;
}

.question-stat{
    grid-column-start: 1;
    grid-column-end: 2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-info{
    grid-column-start: 2;
    grid-column-end: 3;
    display:flex;
    flex-direction: column;
    gap:10px;
    padding-right:20px;
}

.question-title{
    color:blue;
    font-size:23px;
}

.question-asker{
    grid-column-start: 3;
    grid-column-end: 4;
    display:flex;
    align-items: center;
}

#newQuestionPage, #editQuestion{
    padding: 0 5%;
}

#newQuestionPage label, #editQuestion label{
    display:block;
    font-size: 35px;
    padding-top: 40px;
}

#newQuestionPage input, #editQuestion input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    font-size: 20px;
}

#newQuestionPage-questionText, #editQuestion-text{
    display:block;
    width:100%;
    margin-bottom: 20px;
    resize: none;
    height: 200px;
    font-size: 20px;
}

#newQuestionPage-finalLine{
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#newQuestionPage-submitForm{
    margin: 0;
    font-size: 18px;
    padding: 10px;
    height: 40px;
    width: auto;
    border: solid black 1.5pt;
    background-color: rgba(0, 149, 255, 0.973);
    color: white;
    cursor: pointer;
}

#answerPage{
    display:grid;
    grid-template-rows: 40% 60%;
    height: 89vh;
    overflow-y: scroll;
}

#questionInfo{
    grid-row-start: 1;
    grid-row-end: 2;
    display:grid;
    grid-template-columns: 2fr 9fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "answer title askQuestion"
        "view text asker";
}

#questionInfo-numAnswer{
    grid-area: answer;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

#questionInfo-title{
    grid-area: title;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding-right:20px;
}

#questionInfo-askQuestion{
    grid-area: askQuestion;
    display:flex;
    justify-content: center;
    align-items: center;
}

#questionInfo-numView{
    grid-area: view;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#questionInfo-text{
    grid-area: text;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-right:20px;
}

#questionInfo-asker{
    grid-area: asker;
    display:flex;
    align-items: center;
}

#answers{
    grid-row-start: 2;
    grid-row-end: 3;
}

.answer{
    display:grid;
    grid-template-columns: 73% 27%;
    padding: 40px 0;
}

.answer-text{
    padding: 0 30px;
    display:flex;
    align-items: center;
}

.answer-answerer{
    display:flex;
    align-items: center;
}

#newAnswerButton{
    margin: 20px;
    font-size: 18px;
    padding: 10px;
    height: 40px;
    border: solid black 1.5pt;
    background-color: rgba(0, 149, 255, 0.973);
    color: white;
    cursor: pointer;
}

#newAnswerPage{
    padding: 0 5%;
}

#newAnswerPage label{
    display:block;
    font-size: 35px;
    padding-top: 40px;
    padding-left:10px;
    margin-bottom:40px;
}

#newAnswerPage-username{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    font-size: 20px;
}

#newAnswerPage-answerText{
    display:block;
    width:100%;
    margin-bottom: 20px;
    resize: none;
    height: 200px;
    font-size: 20px;
}

#newAnswerPage-finalLine{
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#newAnswerPage-submitForm{
    margin: 0;
    font-size: 18px;
    padding: 20px;
    height: 70px;
    width: auto;
    border: solid black 1.5pt;
    background-color: rgba(0, 149, 255, 0.973);
    color: white;
    cursor: pointer;
}

#tagsPage{
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    height:84.5vh;
}

#tagsPage-top{
    height:20%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

#tagsPage-numTags{
    font-size: 30px;
    font-weight: bold;
}

#tagsPage-title{
    font-size: 30px;
    font-weight: bold;

}

#tagsPage-bottom{
    height:80%;
    display:grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding: 20px 40px;
    justify-content: center;
}

.tagForTagsPage{
    border: black dotted 2pt;
    margin: 20px 50px;
    min-height: 200px;
    width:250px;
    display:flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagForTagsPage-name{
    color:blue;
    cursor:pointer;
}

#profile-top{
    display:flex;
    flex-direction: column;
    font-size: 30px;
    gap: 20px;
    padding: 20px;
}

#questionToggle{
    margin: 30px 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}

#questionToggle button{
    font-size:25px;
    align-items: center;
    background-clip: padding-box;
    background-color: rgb(0, 146, 250);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
}

.comment{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    margin: 10px 400px;
    border: solid black 2pt;
}

.comment-header{
    display:flex;
    gap: 100px;
}

.addComment form{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.addComment input[type="text"]{
    width:300px;
    height:30px;
    padding:2px 10px;
    font-size: 20px;
}

.addComment input[type="submit"]{
    scale: 90%;
}